<div class='bg-grey'>
  <strong>{{ user.name }}</strong>
</div>
<div>
  (repositories: {{ user.publicRepos }})
</div>
<div>
  {{ user.avatarUrl }}
</div>

<ul>
  {{#each user.repositories as |repo|}}
    {{repository-card repo=repo}}
  {{/each}}
</ul>

{{outlet}}
